@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-head: "Nunito", system-ui, Avenir, Helvetica, Arial, sans-serif;
  --font-body: "PT Sans", system-ui, Avenir, Helvetica, Arial, sans-serif;

  line-height: 1.5;
  font-weight: 400;
  font-family: var(--font-body);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  scrollbar-width: thin;
}

body {
  height: 100vh;
  height: 100dvh;
  width: 100vw;
  width: 100dvw;

  overflow-x: hidden;
  scroll-behavior: smooth;
}

.loader {
  border: 8px solid #f3f3f3; /* Light gray */
  border-top: 8px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
